@model BlogListModel

@{
    var comments = (List<CommentListModel>)ViewBag.Comments;

    void getComments(List<CommentListModel> comments)
    {
        if (comments.Count > 0)
        {
            foreach (var comment in comments)
            {
                <div class="media my-3">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">@comment.AuthorName</h5>
                        @comment.Description
                        <button class="btn btn-sm btn-primary float-right" onclick="showCommentForm(@comment.Id, @comment.BlogId)">Reply</button>
                        <div id="commentBox@(comment.Id)"></div>
                        @{getComments(comment.SubComments);}

                    </div>
                </div>
            }
        }
    }
}

<h1 class="mt-4">@Model.Title</h1>
<p class="lead">by<a href="#">"Mehmet Serkan Ekinci"</a></p>
<hr class="alert-danger">
<p>Posted On @Model.PostedTime.ToLongDateString()</p>
<hr>
<getblogimage id="@Model.Id" blog-image-type="BlogDetail"></getblogimage>
<hr>

<!-- Post Short Content -->
<h4>@Model.ShortDescription</h4>

<hr class="alert-heading">

<!-- Post Content -->
@Html.Raw(Model.Description)
<hr>

<!-- Comments Form -->
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
        <form method="post" action="/Home/AddToComment">
            <input type="hidden" name="BlogId" value="@Model.Id" />
            <input type="hidden" name="ParentCommentId" />
            <div class="form-group">
                <label>Your name:</label>
                <input class="form-control" type="text" name="AuthorName" required />
            </div>
            <div class="form-group">
                <label>Your email:</label>
                <input class="form-control" type="email" name="AuthorEmail" required />
            </div>
            <div class="form-group">
                <textarea class="form-control" name="Description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<!-- Comment -->
<!-- Comment with nested comments -->
@{
    getComments(comments);
}

@section js{

    <script>
        function showCommentForm(id, blogId) {
            let html = `<div class="card my-4" > <h5 class="card-header">Yorum Yaz:</h5> <div class="card-body"> <form method="POST" action="/Home/AddToComment"> <input type="hidden" name="BlogId" value="${blogId}"> <input type="hidden" name="ParentCommentId" value="${id}"> <div class="form-group"> <label >Gözükmesini İstediğiniz Ad:</label> <input type="text" class="form-control" name="AuthorName" required> </div><div class="form-group"> <label >Email Adresiniz: </label> <input type="email" class="form-control" name="AuthorEmail" required> </div><div class="form-group"> <label >Yorumunuz :</label> <textarea class="form-control" rows="3" name="Description" required></textarea> </div><button type="button" class="btn btn-warning" onclick="hideCommentForm(${id})">Vazgeç</button> <button type="submit" class="btn btn-primary">Gönder</button> </form> </div></div>`;
            $("#commentBox" + id).html(html);
        }

        function hideCommentForm(id) {
            $("#commentBox" + id).html("");
        }
    </script>
}